.page_header {
    border-bottom: medium solid gray;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
}

.page_header #profile_pic {
    height: 120px;
    width: 120px;
    border-radius: 57px;
}

.page_header #name {
    margin-bottom: 0;
    font-weight: 300;
}

.page_header #catch_phrase {
    margin-left: auto;
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    color: #009688;
}

.page_header #right_header_text {
    text-decoration: none;
}

#header_name{
    margin-bottom: 10px;
}

.content {
    margin-top: 10px;
}

.content #content_photo {
    border-radius: 10px;
}

.footer #footer_text {
    margin-bottom: 15px;
}

.footer #footer_text_title {
    margin-bottom: 0;
    color: #009688;
}

.footer_title {
    padding: 2px;
    font-weight: bold;
    color: #009688;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer_desc {
    padding: 5px;
}

.footer_work {
    margin-bottom:20px;
}